<div id="<%= dom_id competition %>">
  <p>
    <strong>Competition name:</strong>
    <%= competition.competition_name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= competition.date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= competition.location %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= competition.country %>
  </p>

  <p>
    <strong>Distance type:</strong>
    <%= competition.distance_type %>
  </p>

</div>
