<div id="<%= dom_id runner %>">
  <p>
    <strong>Runner name:</strong>
    <%= runner.runner_name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= runner.surname %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= runner.dob %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= runner.category_id %>
  </p>

  <p>
    <strong>Club:</strong>
    <%= runner.club_id %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= runner.gender %>
  </p>

  <p>
    <strong>Category valid:</strong>
    <%= runner.category_valid %>
  </p>

</div>
