<div id="<%= dom_id group %>">
  <p>
    <strong>Group name:</strong>
    <%= group.group_name %>
  </p>

  <p>
    <strong>Clasa:</strong>
    <%= group.clasa %>
  </p>

  <p>
    <strong>Rang:</strong>
    <%= group.rang %>
  </p>

  <p>
    <strong>Competition:</strong>
    <%= group.competition_id %>
  </p>

</div>
