<div id="<%= dom_id result %>">
  <p>
    <strong>Place:</strong>
    <%= result.place %>
  </p>

  <p>
    <strong>Runner:</strong>
    <%= result.runner_id %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= result.time %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= result.category_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= result.group_id %>
  </p>

</div>
